@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

.main-title {
    font-size: 2em;
    @include for-devices-larger-than-phone {
        font-size: 3.5em; // Better use REM
    }
}

.sub-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    @include for-devices-larger-than-phone {
        font-size: 2.5em;
    }
}
