// Flex
.flex {
  display: flex;
  &.space-between {
    justify-content: space-between;
  }
  &.space-around {
    justify-content: space-around;
  }
  &.align-center {
    align-items: center;
  }
  &.align-top {
    align-items: flex-start;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.justify-center {
    justify-content: center;
  }
  &.direction-column {
    flex-direction: column;
  }
  .full-width {
    flex: 0 0 90%;
    @include for-devices-smaller-than-600px {
      flex: 0;
      order: 3;
    }
  }
}

// Grid
.grid {
  display: grid;
  &.justify-center {
    justify-content: center;
  }
}

// Pointer
.pointer-cursor {
  cursor: pointer;
}
