.container {
  max-width: 980px;
  margin: 0 auto;
  padding-left: rem(20);
  padding-right: rem(20);
}

.box-shadow {
  box-shadow: 0px 5px 10px 5px #0000001a;
  padding: 15px;
  border-radius: 7px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 11.875em;
  width: 100%;
  max-width: 163px;
  border-radius: 7px;
  background-color: $color-card;
  box-shadow: 0 5px 20px 5px $color-box-shadow;
  color: white;
  font-family: -webkit-pictograph;

  @media only screen and (max-width: 650px) {
    flex-direction: row;
    max-width: 100%;
    height: 80px;
  }
}

.fav-btn {
  background-color: transparent;
}

button.remove-btn {
  background-color: $color-background;
}

.column-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
