//Colors
$color-header: rgb(209, 183, 205);
$color-card: #ffffff4d;
$color-background: linear-gradient(314deg, #2980b9, #6dd5fa, #ffffff);
$color-active_link: #b2ffa8;
$color-fav_btn: #faf5f0;
$color-box-shadow: #0000001a;
$background-header: #333333;
$color-link: #d7d7d7;
