<section class="signup flex justify-center text-center mt-5">

    <form class="form-signin column-layout" (submit)="signup($event)">

        <img class="mb-4" [src]="logo" alt="" width="72" height="72">

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <mat-form-field>

            <input type="text" name="name" [(ngModel)]="userName" placeholder="Name" aria-label="Name" matInput />

        </mat-form-field>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        <p class="mt-5 mb-3 text-muted">&copy; 2016-2020</p>

    </form>

</section>